<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>400</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
      <div>
          Hello World! - From 400 - which means there was a bad request
      </div>
  </body>
</html>