<!DOCTYPE html>
<html>

<head>
  <!-- Navigation bar title-->
  <title>400</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#da532c">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
  <!-- Development -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
</head>

<body>
  <div class="container">
    <div class="container nav-mob">
      <ul class="nav user-info-s">
          {% if current_user.is_anonymous %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">{{ login }}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_signup_form') }}">{{ sign_up }}</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tick_list') }}">{{ ticklist }}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">{{ current_user.name }}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">{{ logout }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_contact') }}">{{ contact }}</a>
          </li>
      </ul>
    </div>
    <div class="row text-center">
      <div class="col" style="display: flex; justify-content:center;">
        <div>
          <a class="btn btn-outline-primary" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

  <div style="display:flex; justify-content:center; margin-top: 2rem;">
    Hello Stranger! - From 400 - which means there was a bad request
  </div>
</body>

</html>