<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>About us</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          RocoLib is an opensource tool to help create, rate, and share bouldering problems and routes amongst climbing gyms all over the world. 
        </div>
      </div>
    </div>
  </body>
</html>
