<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon//favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon//favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon//site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon//safari-pinned-tab.svg') }}"
        color="#5bbad5">
    <!-- Navigation bar title-->
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- My guess is that scripts and links defined in each page will be more -->
    <!-- specific and hence should be the ones that rule -->
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container nav-mob">
        <ul class="nav user-info-s" style="justify-content: flex-start;">
            <!-- <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('home') }}">{{ home }}</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_gym') }}">{{ add_your_gym }}</a>
            </li> -->
            {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">{{ login }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_signup_form') }}">{{ sign_up }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">{{ current_user.name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('tick_list') }}">{{ ticklist }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">{{ logout }}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_contact') }}">{{ contact }}</a>
            </li>
        </ul>
    </div>
    {% block content %}{% endblock %}
</body>

</html>

{% block scripts %} {% endblock %}

<style>
    .user-info-s {
        padding-left: 0;
    }

    .nav-mob {
        padding-left: 0;
    }

    @media (max-width: 767px) {
        .user-info-s {
            padding-left: 0;
            justify-content: center;
        }
    
        .user-info-s li a {
            padding: 0.6rem 0.4rem;
        }

        .nav-mob {
            padding-left: 15px;
            padding-right: 15px;
        }
    
    }
</style>

{% block styles %}{% endblock %}