{% extends "base_template.html" %}

{% block title %}{{ create }}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/toggle.css') }}" rel="stylesheet" media="screen" />
<script src="{{ url_for('static', filename='js/turf.js') }} "></script>
<script src="{{ url_for('static', filename='js/problem_utils.js') }}"></script>
{% endblock %}

{% block content %}
<div id="holder">
  <div id="body">
    <div class="container">
      <br />
      <div class="row text-center">
        <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
          <div class="row text-center">
            <div class="col">
              <p><a href="/">Home</a></p>
            </div>
            <div class="col">
              <p><a href="/create?options=boulder&latest=True">Back</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
      <!-- <br /> -->
      <div class="row">
        <div class="col-sm">
          <div style="text-align: center;">
            <h3>
              {{ wall_name }}
            </h3>
          </div>
          <div class="custom-control custom-switch" style="padding-right:0;">
            <input type="checkbox" checked class="custom-control-input" id="holdDetectionSwitch">
            <label class="custom-control-label" for="holdDetectionSwitch">{{ hold_detection }}</label>
          </div>
          <br />
          <img id="wall-image" src="{{ wall_image }}" alt="wall section" />
          <canvas id="wall-canvas"></canvas>
        </div>
        <br />
          <div class="col-sm">
            <div style="text-align: center;">
              <h5>{{ hold_type }}</h5>
              <div class="row">
                <div class="col-4">
                  <input type="radio" name="hold_type" value="#00ff00" checked />
                  {{ start }}<br />
                </div>
                <div class="col-4">
                  <input type="radio" name="hold_type" value="#0000ff" />
                  {{ normal }}<br />
                </div>
                <div class="col-4">
                  <input type="radio" name="hold_type" value="#ff0000" />
                  {{ top }}<br />
                </div>
              </div>
            </div>
          </div>
      </div>
      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row" style="display: flex;">
              <div class="col-4" style="display: grid;">
                <button class="btn btn-outline-primary" onclick="undoMove()">
                  {{ undo }}
                </button>
              </div>
              <div class="col-4" style="display: grid;">
                <form action="/save_boulder?section={{section}}" onsubmit="return validateForm()" method="POST" style="display: grid;">
                  <input class="btn btn-outline-primary" style="width:100%;" type="submit" value="Done" name="{{ submit }}"
                    onclick="return setHolds();" />
                  <input type="hidden" name="holds" id="holds-array" value="" />
                </form>
              </div>
              <div class="col-4" style="display: grid;">
                <a href="/" class="btn btn-outline-primary">{{ cancel }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    boulderCreateInit(
      "holdDetectionSwitch",
      "wall-image",
      "wall-canvas",
      '{{ radius }}',
      '{{ hold_data | tojson | safe}}'
    );
  };
</script>
{% endblock %}

{% block styles %}
<style>
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
  
  @media (max-width: 767px) {
    img {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
    
    h5 {
      margin-top: 0.5rem;
    }
  }

</style>
{% endblock %}