<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>Create</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <br />
          <h3>Choose wall</h3>
          <br />
          <p>&bull;<a href="/walls/s1"> Section 1</a></p>
          <p>&bull;<a href="/walls/s2"> Section 2</a></p>
          <p>&bull;<a href="/walls/s3"> Section 3</a></p>
          <p>&bull;<a href="/walls/s4"> Section 4</a></p>
          <p>&bull;<a href="/walls/s5"> Section 5</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
