<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>Create</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <br />
          <div class="row">
            <div class="col-sm">
              <div style="text-align: center;">
                <h3>
                  Section: {{ wall_name }}
                </h3>
              </div>
              <br />
              <!-- width="400" -->
              <img id="wall-image" src="{{ wall_image }}" alt="wall section" />
              <canvas id="wall-canvas"></canvas>
            </div>
            <br />
            <div class="col-sm">
              <div style="text-align: center;">
                <h5>Hold type</h5>
                <div class="row">
                  <div class="col-4">
                    <input
                      type="radio"
                      name="hold_type"
                      value="#00ff00"
                      checked
                    />
                    Start<br />
                  </div>
                  <div class="col-4">
                    <input type="radio" name="hold_type" value="#0000ff" />
                    Normal<br />
                  </div>
                  <div class="col-4">
                    <input type="radio" name="hold_type" value="#ff0000" />
                    Top<br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="container">
            <div class="row">
              <div class="col-2">
                <button onclick="undoMove()">Undo</button>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-2">
                <form
                  action="/save_boulder?section={{wall_name}}"
                  onsubmit="return validateForm()"
                  method="POST"
                >
                  <input
                    type="submit"
                    value="Done"
                    name="Submit"
                    onclick="return setHolds();"
                  />
                  <input type="hidden" name="holds" id="holds-array" value="" />
                </form>
              </div>
              <div class="col-2"></div>
              <!-- <button>Done</button> -->
              <div class="col-2">
                <button>Cancel</button>
              </div>
              <div class="col-8"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var holds = [];
  const RADIUS = 12;
  window.onload = () => {
    var img = document.getElementById("wall-image");
    var cnvs = document.getElementById("wall-canvas");

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";
    cnvs.width = img.offsetWidth;
    cnvs.height = img.offsetHeight;

    var ctx = cnvs.getContext("2d");
    ctx.width = cnvs.width;
    ctx.height = cnvs.height;
  };
  document.addEventListener(
    "click",
    function(event) {
      // If the clicked element doesn't have the right selector, bail
      if (
        !(
          event.target.matches("#wall-image") ||
          event.target.matches("#wall-canvas")
        )
      )
        return;
      // Don't follow the link
      event.preventDefault();
      draw(event);
    },
    false
  );

  function draw(event) {
    var cnvs = document.getElementById("wall-canvas");
    var ctx = cnvs.getContext("2d");
    var holdColor = document.querySelector('input[name="hold_type"]:checked')
      .value;
    drawHold(ctx, event.offsetX, event.offsetY, RADIUS, holdColor, holds);
  }

  function drawHold(ctx, x, y, radius, color, holdArray) {
    // Draw circle
    console.log(ctx);
    ctx.beginPath();
    ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = color;
    ctx.stroke();
    // push to hold array
    holdArray.push({ x: x, y: y, color: color });
  }

  function undoMove() {
    holds.pop(); // Remove last selected hold
    // Clear canvas
    var cnvs = document.getElementById("wall-canvas");
    const ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);
    var newHolds = [];
    holds.forEach(hold =>
      drawHold(ctx, hold.x, hold.y, RADIUS, hold.color, newHolds)
    );
    holds = newHolds;
  }

  function setHolds() {
    document.getElementById("holds-array").value = JSON.stringify(holds);
  }

  function validateForm() {
    if (holds.length === 0) {
      alert("Boulder cannot be empty");
      return false;
    }
    return true;
  }
</script>

<style>
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
  @media (max-width: 600px) {
    img {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
