<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>Explore</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <br />
    <div id="holder">
      <div id="body">
        <div class="container">
          <ul>
            {% for boulder in boulder_list %}
            <li>
              <!-- TODO: Add safename field to boulder -->
              <form action="/load_boulder" method="post">
                <input
                  type="hidden"
                  name="boulder_data"
                  id="holds-array"
                  value="{{boulder}}"
                />
                <button
                  type="submit"
                  name="boulder"
                  value="{{ boulder['name'] }}"
                  class="btn-link"
                >
                  {{boulder['name']}}
                </button>
                (Difficulty: {{boulder["difficulty"]}}, Section:
                {{boulder["section"]}})
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  /* https://stackoverflow.com/questions/47702879/bootstrap-4-hex-colors-for-rails-app */
  .btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #007bff;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
  }
</style>
