{% extends "base_template.html" %}

{% block title %}{{ explore }}{% endblock %}

{% block content %}
<br />
<div id="holder">
  <div id="body">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
          <div class="row text-center">
            <div class="col">
              <p><a href="/">Home</a></p>
            </div>
            <div class="col">
              <p><a href="/explore">Back</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
      <div class="row text-left">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 pl-4 mt-1 mb-1">
          {{ sort_by }}:
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group row" style="margin: inherit; padding: inherit;">
            <select class="form-control col-5 col-md-4 mr-3" id="sortCriteria">
              <option value="date-recent" selected>{{ creation_date }}</option>
              <option value="rating">{{ rating }}</option>
              <option value="difficulty">{{ difficulty }}</option>
              <option value="section">{{ wall_section }}</option>
            </select>
            <select class="form-control col-5" id="sortAscending">
              <option value="increasing">{{ increasing }}</option>
              <option value="decreasing" selected>{{ decreasing }}</option>
            </select>
          </div>
        </div>
      </div>
      {% if is_authenticated %}
      <div class="row text-left mb-3 mt-3" style="padding-left: 2.75rem;">
        <input type="checkbox" class="form-check-input pl-2" id="hideDoneCheck">
        <label class="form-check-label" for="hideDoneCheck">{{ hide_done }}</label>
      </div>
      {% endif %}
      {% if not boulder_list %}
      <br />
      <br />
      <div class="d-flex justify-content-center">
        <h5>{{ no_boulder }}</h5>
      </div>
      {% endif %}
      <div id="bouldersList" class="accordion" style="padding-top: 1.5rem;">
        {% for boulder in boulder_list %}
        <div class="card" id="{{ 'id_' + boulder['safe_name'] }}" style="border: 0.1em solid; border-radius: 0.25rem;">
          <div class="card-header" id="{{ 'id_' + boulder['safe_name'] + '-heading' }}" style="background-color: transparent; border: none;">
            <div class="row">
              <div class="col-11 col-md-4" style="padding-right: 0px;">
                <!-- TODO: Add safename field to boulder -->
                <form action="/load_boulder" method="post">
                  <input type="hidden" name="boulder_data" id="{{ 'id_' + boulder['_id'] + boulder['name'] }}"
                    value="{{boulder}}" />
                  <input type="hidden" name="origin" id="{{ 'id_' + boulder['name'] + boulder['_id'] }}"
                    value="explore_boulders" />
                  <button type="submit" name="boulder" value="{{ boulder['name'] }}" class="btn-link" style="width:100%;">
                    <div class="row">
                      <div class="dot" style="background-color: {{ boulder['color'] }};"></div>
                      <h5 style="padding-left: 0.5rem;">{{boulder['name']}}</h5>
                    </div>
                  </button>
                </form>
              </div>
              <div class="col-1 col-md-8" style="padding-left: 0px;">
                <button class="btn btn-link" 
                        style="width: 100%; padding-left: 1rem; display: flex; justify-content: end; text-decoration: none;" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#{{ 'id_' + boulder['safe_name'] + '-collapse' }}" 
                        aria-expanded="true" 
                        aria-controls="{{ 'id_' + boulder['safe_name'] + '-collapse' }}">
                  <span>+</span>
                </button>
              </div>
            </div>
          </div>
          <div id="{{ 'id_' + boulder['safe_name'] + '-collapse' }}" class="collapse" aria-labelledby="{{ 'id_' + boulder['safe_name'] + '-heading' }}" data-parent="#bouldersList">
            <div class="card-body" style="padding: 0px;">
              <ul>
              {%- for wall in walls_list -%}
              {%- if wall['image'] == boulder['section'] -%}
              <li>Section: {{ wall['name'] }}</li>
              {%- endif -%}
              {% endfor %}
              <li>{{ creator }}: {{boulder["creator"]}}</li>
              <li>{{ feet }}: {{boulder["feet"]}}</li>
              <li>{{ added }} {{boulder["age"]}} {{ ago }}</li>
              <li>{{ repetitions }} : {{boulder['repetitions'] }}</li>
              <li>
                <div class="container">
                  <div class="row d-flex justify-content-left">
                    <div class="col-lg-12 d-flex justify-content-left" style="padding-left: 0px;">
                      <div class="star-rating-fixed">
                        <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 1 else 'fas fa-star' }}"></span>
                        <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 2 else 'fas fa-star' }}"></span>
                        <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 3 else 'fas fa-star' }}"></span>
                        <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 4 else 'fas fa-star' }}"></span>
                        <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 5 else 'fas fa-star' }}"></span>
                      </div>
                      <p style="margin-left: 10px; margin-top: 0px;">
                        {{ boulder.get('raters', 0) }} {{ 'ratings' if boulder.get('raters', 0) != 1 else 'rating' }}
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>

  function decodeHtml(html) {
    var doc = new DOMParser().parseFromString(html, "text/html");
    return doc.documentElement.textContent;
  }

  function replaceAll(string, search, replace) {
    return string.split(search).join(replace);
  }

  const checkbox = document.getElementById('hideDoneCheck');
  if (checkbox != null) {
    checkbox.addEventListener('change', (event) => {
      if (event.currentTarget.checked) {
        UpdateList(true);
      } else {
        UpdateList(false);
      }
    });
  }
  
  function UpdateList(checked) {
    var boulders = replaceAll(decodeHtml("{{ boulder_list }}"), "'", '"');
    var boulders_data = JSON.parse('{"boulders": ' + boulders + "}");
    boulders_data["boulders"].forEach((boulder) => {
      $("#" + boulder["safe_name"])
        .css(
          'display',
          (boulder.is_done && checked) ? 'none' : 'flex'
        );
    });
  }

  $("#sortAscending").on("change", function () {
    var list = $("#bouldersList");
    var listItems = list.children('div');
    list.append(listItems.get().reverse());
  });

  $("#sortCriteria").on("change", function () {
    // Some hackery to turn data into valid JS JSON
    var boulders = replaceAll(decodeHtml("{{ boulder_list }}"), "'", '"');
    var boulders_data = JSON.parse('{"boulders": ' + boulders + "}");
    // Sort data
    if (this.value === "date-recent") {
      function sortBoulders(a, b) {
        var dateA = Date.parse(a["time"]);
        var dateB = Date.parse(b["time"]);
        return dateB - dateA;
      }
    } else if (this.value === "difficulty") {
      function sortBoulders(a, b) {
        var difficulties = ["red", "yellow", "blue", "green"];
        return (
          difficulties.indexOf(a["difficulty"]) -
          difficulties.indexOf(b["difficulty"])
        );
      }
    } else if (this.value === "section") {
      function sortBoulders(a, b) {
        return a["section"] < b["section"]
          ? 1
          : b["section"] < a["section"]
            ? -1
            : 0;
      }
    } else if (this.value === "rating") {
      function sortBoulders(a, b) {
        return b["rating"] - a["rating"];
      }
    }
    boulders_data["boulders"] = boulders_data["boulders"].sort(sortBoulders);

    if ($("#sortAscending").val() == "increasing") {
      boulders_data["boulders"].reverse();
    }

    boulders_data["boulders"].forEach((boulder) => {
      // Reorder divs according to criteria
      $("#bouldersList")
        .find("#" + boulder["safe_name"])
        .each(function () {
          $(this).parent().append(this);
        });
    });
  });
</script>
{% endblock %}

{% block styles %}
<style>
  /* https://stackoverflow.com/questions/47702879/bootstrap-4-hex-colors-for-rails-app */
  .btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #007bff;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
  }

  .btn-link:hover {
    text-decoration: underline;
  }

  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgb(104, 104, 104);
    position: relative;
    display: inline-block;
  }

  .card {
    border: 0.1em solid dimgray;
    padding: 0.5em;
    padding-left: 1.2em;
    margin: 0.5em;
  }

  .star-rating-fixed .fas {
    color: yellow;
  }

  @media (max-width: 767px) {
    .star-rating-fixed {
      line-height: 15px;
      font-size: 0.8em;
      margin-top: 4px;
    }
    .col-1 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .col-11 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
</style>
{% endblock %}