{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block content %}
<div id="holder">
  <div id="body">
    <div class="container">
      <br />
      <div class="row mb-3">
        <div class="col-sm-12 m-auto text-center">
          <img id="logo-img" title="Create problems on any climbing wall"
            src="{{ url_for('static', filename='images/logo/logo_large_2.PNG') }}"
            alt="Create problems on any climbing wall" />
          <!-- <h3>RocoLib</h3> -->
        </div>
      </div>
      <div class="row">
        <div class="container" style="display: flex; margin-bottom: 0.5rem; margin-top:0.5rem;">
          <p style="margin-bottom:0; align-self:center;"><strong>{{ current_gym_ }}: </strong></p>
          <div class="alert alert-info" role="alert" style="margin-left: 0.5rem; margin-bottom:0; padding: 0.7rem;">
            <h5 style="font-size: 1.1rem; align-self: center; margin-bottom: 0;">{{ current_gym }}</h5>
          </div>
        </div>
      </div>
      <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem;" />
      <label>{{ select_gym }}: </label>
      <div class="row gym-selector">
        <div class="form-group col-md-8 col-xs-12" style="margin-bottom: 0.5rem;">
          <form action="/" method="POST">
            <select class="form-control col-12" onchange="this.form.submit()" name="gym" id="gym">
              {% for gym in gyms %}
              <option onclick="this.form.submit()" value="{{ gym['id'] }}" {% if gym['id']==selected %} selected {%
                endif %}>{{ gym['name'] }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
        <!-- <div class="w-100"></div> -->
        <div class="col-md-4 col-xs-12">
          <form id="nearest_gym_form" action="/get_nearest_gym" method="POST">
            <div class="btn-group d-flex">
              <button id="locate-button" type="button" class="btn btn-outline-primary cstm-button" onclick="getLocation()">
                <i id="location-icon" class="bi bi-geo-alt"></i>
                <span class="button-text">
                  {{ locate_nearest_gym }}
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <hr style="margin-top: 2rem; margin-bottom: 2rem;" />
      <div class="row group-button-row" style="display: flex;">
        <div class="div-btn-center-mobile">
          <a class="mobile" href="/create?options=boulder&latest=True" style="padding-right: 1rem; margin-left:0.9rem;">
            <button class="btn btn-primary btn-center-mobile-2" >
              <i class="bi bi-plus" style="margin-right: 0.4rem;"></i> {{ create_boulder }}
            </button>
          </a>
        </div>
        <!-- <p>&bull;<a href="/create?options=route"> Create Route</a></p> -->
        <div class="button-row div-btn-center-mobile">
          <a class="mobile" href="/explore" style="padding-right: 1rem;">
            <button class="btn btn-primary btn-center-mobile">
              <i class="bi bi-eye" style="margin-right: 0.4rem;"></i> {{ explore }}
            </button>
          </a>
        </div>
        <div class="button-row div-btn-center-mobile">
          <a class="mobile" href="/random_problem" style="padding-right: 1rem;">
            <button class="btn btn-primary btn-center-mobile">
              <i class="bi bi-dice-2" style="margin-right: 0.4rem;"></i> {{ random_problem }}
            </button>
          </a>
        </div>
      </div>
      <hr class="no-margin-top-mobile" />
      <section class="module stats" id="counter">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 m-auto text-center">
              <h4>{{ stats_ }}</h4>
            </div>
          </div>
          <div class="row">
            {% for key, val in stats.items() %}
            <div class="col-sm-4 text-center">
              <div class="counter pt-3">
                <div class="number"> <span class="count">{{ val }}</span></div>
                <div class="title mx-auto">{{ key }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{%block scripts%}
<script>
  function getLocation() {
    if (navigator.geolocation) {
      var icon = document.getElementById('location-icon');
      icon.style.display = 'none';
      var button = document.getElementById('locate-button');
      button.classList.add('button-loading');
      navigator.geolocation.getCurrentPosition(sendPosition, showError);
    } else {
      console.log("Geolocation is not supported by this browser.");
    }
  }

  function sendPosition(position) {
    // Add fields to form
    var lat_input = document.createElement("input");
    lat_input.setAttribute("type", "hidden");
    lat_input.setAttribute("name", "latitude");
    lat_input.setAttribute("value", position.coords.latitude);
    var long_input = document.createElement("input");
    long_input.setAttribute("type", "hidden");
    long_input.setAttribute("name", "longitude");
    long_input.setAttribute("value", position.coords.longitude);
    //append to form element
    var nearest_gym_form = document.getElementById("nearest_gym_form");
    if (nearest_gym_form != null) {
      nearest_gym_form.appendChild(lat_input);
      nearest_gym_form.appendChild(long_input);
      nearest_gym_form.submit();
    }
  }

  function showError(error) {
    switch(error.code) {
      case error.PERMISSION_DENIED:
        x.innerHTML = "User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        x.innerHTML = "Location information is unavailable."
        break;
      case error.TIMEOUT:
        x.innerHTML = "The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        x.innerHTML = "An unknown error occurred."
        break;
    }
  }  
</script>
{% endblock %}
