{% extends "base_template.html" %}

{% block title %}{{ boulder_name }}{% endblock %}

{% block content %}
    <br />
    <div id="holder">
      <div id="body">
        <div class="container">
          <div class="row text-center">
            <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
              <div class="row text-center">
                <div class="col">
                  <p><a href="/">Home</a></p>
                </div>
                <div class="col">
                  <p><a href="/explore_boulders">Back</a></p>
                </div>
              </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
          </div>
          <div style="text-align: center;">
            <h5>{{ boulder_name }}</h5>
          </div>
          <div style="text-align: center;">
            {{ boulder_data['feet'] }}
          </div>
          <br />
          <img id="wall-image" src="{{ wall_image }}" alt="wall section" />
          <canvas id="wall-canvas"></canvas>
          <br />
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-12 d-flex justify-content-center">
                <p style="margin-top: 5px; margin-right: 10px;">
                  Rate this boulder:
                </p>
                <div class="star-rating">
                  <span class="fa fa-star" data-rating="1"></span>
                  <span class="fa fa-star" data-rating="2"></span>
                  <span class="fa fa-star" data-rating="3"></span>
                  <span class="fa fa-star" data-rating="4"></span>
                  <span class="fa fa-star" data-rating="5"></span>
                  <form id="bForm" action="/rate_boulder" method="post">
                    <input
                      type="hidden"
                      name="boulder_rating"
                      class="rating-value"
                      value="0"
                    />
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-lg-12 d-flex justify-content-center">
                <button onclick="$('#bForm').submit();" class="btn btn-outline-dark">Submit</button>
              </div>
            </div>
            {% if not current_user.is_anonymous %}
              <div class="row d-flex justify-content-center" style="margin-top: 1rem;">
                <ul class="user-info">
                  <li><a href="{{ url_for('home') }}">Add to Tick List</a></li>
                  <li> | </li>
                  <li><a href="{{ url_for('home') }}">Done!</a></li>
                </ul>
              </div>
            {% endif %}
        </div>
        <br />
      </div>
    </div>

<script>
  // It is important that this is wrapped in single quotes ('')
  // The code is not working otherwise
  var data = '{{ boulder_data | tojson | safe}}';
  var boulder_data = JSON.parse(data);
  const RADIUS = boulder_data.radius;
  // const RADIUS = 15 / 473;
  window.onload = () => {
    var img = document.getElementById("wall-image");
    var cnvs = document.getElementById("wall-canvas");
    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";
    cnvs.width = img.offsetWidth;
    cnvs.height = img.offsetHeight;

    var ctx = cnvs.getContext("2d");
    ctx.width = cnvs.width;
    ctx.height = cnvs.height;
    boulder_data.holds.forEach((hold) =>
      drawHold(
        ctx,
        hold.x * ctx.width,
        hold.y * ctx.height,
        RADIUS * ctx.width,
        hold.color
      )
    );
  };

  function drawHold(ctx, x, y, radius, color) {
    // Draw circle
    ctx.beginPath();
    ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = color;
    ctx.stroke();
  }

  var $star_rating = $(".star-rating .fa");

  var SetRatingStar = function () {
    return $star_rating.each(function () {
      if (
        parseInt($star_rating.siblings("form").children("input.rating-value").val()) >=
        parseInt($(this).data("rating"))
      ) {
        return $(this).removeClass("fa").removeClass("fa-star").addClass("fas").addClass("fa-star");
      } else {
        return $(this).removeClass("fas").removeClass("fa-star").addClass("fa").addClass("fa-star");
      }
    });
  };

  $star_rating.on("click", function () {
    $star_rating.siblings("form").children("input.rating-value").val($(this).data("rating"));
    // Update ratings
    SetRatingStar();
  });

  $("#bForm").submit(function(e) {
      $("<input />")
      .attr("type", "hidden")
      .attr("id", "boulder-name")
      .attr("name", "boulder_name")
      .attr("value", "{{ boulder_data['name'] }}")
      .appendTo("#bForm");
      return true;
    });

  SetRatingStar();
  $(document).ready(function () {});
</script>
{% endblock %}

{% block styles %}
<style>
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 45%;
  }
  @media (max-width: 600px) {
    img {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .star-rating {
    line-height: 32px;
    font-size: 1.25em;
  }

  .star-rating .fas {
    color: yellow;
  }

  @media (max-width: 600px) {
    .star-rating {
      line-height: 15px;
      font-size: 0.8em;
    }
  }
</style>
{% endblock %}
