{% extends "base_template.html" %}

{% block title %}{{ boulder_name }}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/toggle.css') }}" rel="stylesheet" media="screen" />
<script src="{{ url_for('static', filename='js/turf.js') }} "></script>
<script src="{{ url_for('static', filename='js/problem_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/swipe.js') }}"></script>
{% endblock %}

{% block content %}
<br />
<div id="holder">
  <div id="body">
    <div id="wrapper" class="container">
      <div class="row text-center">
        <div class="col" style="display: flex; margin-left: 8px;">
          <div>
            <a class="btn btn-outline-primary" href="/{{ origin }}" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
          </div>
          <!-- <p><a href="/{{ origin }}">Back</a></p> -->
        </div>
        <div class="col" style="display: flex;justify-content: center;align-self: center;">
          <div style="text-align: center;">
            <h5 style="margin-bottom: 0;">{{ boulder_name }}</h5>
          </div>        
        </div>
        <div class="col" style="display: flex; justify-content:end;">
          <div>
            <a class="btn btn-outline-primary" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
          </div>
          <!-- <p><a href="/">Home</a></p> -->
        </div>
      </div>
      <!-- <div style="text-align: center;">
        <h5>{{ boulder_name }}</h5>
      </div> -->
      <div style="text-align: center;">
        {{ boulder_data['feet'] }}
      </div>
      <div class="custom-control custom-switch" style="margin-left:2rem;">
        <input type="checkbox" checked class="custom-control-input" id="holdDetectionSwitch">
        <label class="custom-control-label" for="holdDetectionSwitch">Hold detection</label>
      </div>
      <br />
      <img id="wall-image" src="{{ wall_image }}" alt="wall section" />
      <canvas id="wall-canvas"></canvas>
      <hr width="50%" style="margin-bottom: 0.5rem; margin-top: 0.5rem;" />
      {% if boulder_data.get('notes', '') %}
      <div class="container">
        <div class="row d-flex justify-content-center">
          <p style="margin-top: 0; margin-bottom: 0.5rem;">
            <b>{{ notes }}:</b>
          </p>
          <div class="col-lg-12 d-flex justify-content-center">
            {{ boulder_data.get('notes', '') }}
          </div>
        </div>
      </div>
      <hr width=50% style="margin-bottom: 0.5rem; margin-top: 0.5rem;" />
      {% endif %}
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center" style="align-items: center;">
            <p style="margin-top: 5px; margin-right: 10px; margin-bottom:6px;">
              Rate this boulder:
            </p>
            <div class="star-rating">
              <span class="fa fa-star" data-rating="1"></span>
              <span class="fa fa-star" data-rating="2"></span>
              <span class="fa fa-star" data-rating="3"></span>
              <span class="fa fa-star" data-rating="4"></span>
              <span class="fa fa-star" data-rating="5"></span>
              <form id="bForm" action="/rate_boulder" method="post">
                <input type="hidden" name="boulder_rating" class="rating-value" value="0" />
                <input type="hidden" name="gym" value="{{ boulder_data['gym'] }}" />
              </form>
            </div>
            <button onclick="$('#bForm').submit();" class="btn btn-outline-dark mbl-size" style="margin-left:1.5rem;">Rate</button>
          </div>
        </div>
        <div class="row d-flex justify-content-center act-btn-container" style="align-items:center;">
            {% if not current_user.is_anonymous %}
            <div class="col-lg-4" style="margin-bottom: 0.3rem;">
              <!-- TODO: Add safename field to boulder -->
              <form id="addForm" action="/tick_list" method="post">
                  <button type="submit" name="add_boulder_to_tick_list" value="add-boulder" style="width: 100%;" class="btn btn-outline-primary cstm-button">
                    {{ add_to_ticklist }}!
                  </button>
                  <!-- Required fields -->
                  <input type="hidden" name="origin" value="{{ origin }}" />
                  <input type="hidden" name="gym" value="{{ boulder_data['gym'] }}" />
                  <input type="hidden" name="section" value="{{ boulder_data['section'] }}" />
                  <input type="hidden" name="name" value="{{ boulder_data['name'] }}" />
              </form>
            </div>
            <div class="col-lg-4" style="margin-bottom: 0.3rem;">
              <form id="markAsDoneForm" action="/tick_list" method="post">
                  <button type="submit" name="mark_boulder_as_done" value="done" style="width: 100%;" class="btn btn-outline-primary cstm-button">
                    {{ done }}!
                  </button>
                  <!-- Required fields -->
                  <input type="hidden" name="is_done" value="true" />
                  <input type="hidden" name="origin" value="{{ origin }}" />
                  <input type="hidden" name="gym" value="{{ boulder_data['gym'] }}" />
                  <input type="hidden" name="section" value="{{ boulder_data['section'] }}" />
                  <input type="hidden" name="name" value="{{ boulder_data['name'] }}" />
              </form>
            </div>
            {% endif %}
            <div class="col-lg-4" style="margin-bottom: 0.3rem;">
                <button type="button" onclick="downloadProblemAsImage()" style="width: 100%;" class="btn btn-outline-primary cstm-button">
                  {{ export_as_image }}
                </button>
              </form>
            </div>
        </div>
      </div>
      <br />
    </div>
  </div>

  <script>
    // It is important that this is wrapped in single quotes ('')
    var rawData = '{{ boulder_data | tojson | safe}}';
    var boulderData = JSON.parse(rawData);
    holds = boulderData.holds;
    radius = boulderData.radius;

    function loadBoulder() {
      boulderLoadInit(
        'holdDetectionSwitch',
        "wall-image",
        "wall-canvas",
        boulderData.radius,
        '{{ hold_data | tojson | safe}}'
      );
    };

    function downloadProblemAsImage() {
      downloadProblem("{{ boulder_data['name'] }}", '{{ wall_image }}');
    };

    var $star_rating = $(".star-rating .fa");

    var SetRatingStar = function () {
      return $star_rating.each(function () {
        if (
          parseInt($star_rating.siblings("form").children("input.rating-value").val()) >=
          parseInt($(this).data("rating"))
        ) {
          return $(this).removeClass("fa").removeClass("fa-star").addClass("fas").addClass("fa-star");
        } else {
          return $(this).removeClass("fas").removeClass("fa-star").addClass("fa").addClass("fa-star");
        }
      });
    };

    $star_rating.on("click", function () {
      $star_rating.siblings("form").children("input.rating-value").val($(this).data("rating"));
      // Update ratings
      SetRatingStar();
    });

    $("#bForm").submit(function (e) {
      $("<input />")
        .attr("type", "hidden")
        .attr("id", "boulder-name")
        .attr("name", "boulder_name")
        .attr("value", "{{ boulder_data['name'] }}")
        .appendTo("#bForm");
      return true;
    });

    window.onresize = loadBoulder;
    window.onload = () => { 
      loadBoulder();
      swipeInit();
    }

    SetRatingStar();
  </script>
  {% endblock %}

  {% block styles %}
  <style>
    .custom-switch {
      display: flex;
      /* text-align: center; */
      justify-content: center;
      margin-left: auto;
      /* margin-top: 1rem; */
      /* margin-bottom: 1rem; */
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 45%;
    }

    @media (max-width: 767px) {
      img {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .star-rating {
      line-height: 32px;
      font-size: 1.25em;
    }

    .star-rating .fas {
      color: yellow;
    }

    /* https://stackoverflow.com/questions/47702879/bootstrap-4-hex-colors-for-rails-app */
    /*.custom-link {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      color: #007bff;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
    }*/

.mbl-size {
  padding-left: 2rem;
  padding-right: 2rem;
}

.act-btn-container {
  margin-top: 3rem;
}

    @media (max-width: 767px) {
      .star-rating {
        /* line-height: 15px; */
        font-size: 0.8em;
      }

      hr {
        width: 95%;
      }
      .mbl-size {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .act-btn-container {
        margin-top: 2rem;
      }
      
    }
  </style>
  {% endblock %}