<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>{{ boulder_name }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <br />
          <div style="text-align: center;">
            {{ boulder_name }}
          </div>
          <br />
          <img
            id="wall-image"
            width="400"
            src="{{ wall_image }}"
            alt="wall section"
          />
          <canvas id="wall-canvas"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // It is important that this is wrapped in single quotes ('')
  // The code is not working otherwise
  var data = '{{ boulder_data | tojson | safe}}';
  var boulder_data = JSON.parse(data);
  const RADIUS = 12;
  window.onload = () => {
    var img = document.getElementById("wall-image");
    var cnvs = document.getElementById("wall-canvas");

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";
    cnvs.width = img.offsetWidth;
    cnvs.height = img.offsetHeight;

    var ctx = cnvs.getContext("2d");
    ctx.width = cnvs.width;
    ctx.height = cnvs.height;
    boulder_data.holds.forEach(hold =>
      drawHold(ctx, hold.x, hold.y, RADIUS, hold.color)
    );
  };

  function drawHold(ctx, x, y, radius, color) {
    // Draw circle
    ctx.beginPath();
    ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = color;
    ctx.stroke();
  }
</script>
