<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>Save</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <br />
          <br />
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
              <h3>Save Boulder</h3>

              <form
                action="/save"
                onsubmit="return validateForm()"
                method="POST"
              >
                Boulder name:<br />
                <input
                  id="name-field"
                  type="text"
                  name="name"
                  value=""
                /><br /><br />
                Creator:<br />
                <input
                  id="creator-field"
                  type="text"
                  name="creator"
                  value=""
                /><br /><br />
                Suggested difficulty:<br />
                <input type="radio" name="difficulty" value="green" checked />
                Green<br />
                <input type="radio" name="difficulty" value="blue" />
                Blue<br />
                <input type="radio" name="difficulty" value="yellow" />
                Yellow<br />
                <input type="radio" name="difficulty" value="red" />
                Red<br /><br />
                Feet:<br />
                <input type="radio" name="feet" value="follow" checked /> Feet
                Follow Hands<br />
                <input type="radio" name="feet" value="free" /> Free Feet<br />
                <input type="radio" name="feet" value="no-feet" />
                Campus<br /><br />
                <input type="submit" value="Submit" />
                <input
                  type="hidden"
                  name="holds"
                  id="holds-array"
                  value="{{holds}}"
                />
                <input
                  type="hidden"
                  name="section"
                  id="section"
                  value="{{section}}"
                />
              </form>
            </div>
            <div class="col-sm"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function validateForm() {
    if (
      !document.getElementById("name-field").value ||
      !document.getElementById("creator-field").value
    ) {
      alert("Invalid name or creator");
      return false;
    }
    return true;
  }
</script>
