{% extends "base_template.html" %}

{% block title %}{{ save }}{% endblock %}

{% block content %}
<div id="holder">
  <div id="body">
    <div class="container">
      <br />
      <div class="row text-center">
        <div class="col" style="display: flex; margin-left: 8px;">
          <a class="btn btn-outline-primary" href="/walls/{{ section }}?options=boulder" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="col" style="display: flex; justify-content:end;">
          <a class="btn btn-outline-primary" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
      </div>
      <br />
      <div class="row" style="display: grid; justify-content: center;">
        <div class="col-sm"></div>
        <div class="col-sm">
          <h3>{{ save_boulder }}</h3>

          <form action="/save" onsubmit="return validateForm()" method="POST">
            {{ boulder_name }}:<br />
            <input id="name-field" type="text" name="name" value="" maxlength="60" required /><br /><br />
            {{ creator }}:<br />
            <input id="creator-field" type="text" name="creator" value="{{ username }}" maxlength="60"
              required /><br /><br />
            {{ suggested_difficulty }}:<br />
            <input type="radio" name="difficulty" value="green" checked />
            {{ green }}<br />
            <input type="radio" name="difficulty" value="blue" />
            {{ blue }}<br />
            <input type="radio" name="difficulty" value="yellow" />
            {{ yellow }}<br />
            <input type="radio" name="difficulty" value="red" />
            {{ red }}<br /><br />
            {{ feet }}:<br />
            <input type="radio" name="feet" value="follow" checked /> {{ feet_follow_hands }}<br />
            <input type="radio" name="feet" value="free" /> {{ free_feet }}<br />
            <input type="radio" name="feet" value="no-feet" />
            {{ campus }}<br /><br />
            {{ notes }}:<br />
            <textarea rows="5" cols="26" name="Notes"></textarea>
            <br /><br />
            <input type="checkbox" name="is_project" value="" checked />
            {{ is_project }}<br /><br />
            <input type="submit" value="Submit" />
            <input type="hidden" name="holds" id="holds-array" value="{{holds}}" />
            <input type="hidden" name="section" id="section" value="{{section}}" />
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function validateForm() {
    if (
      !document.getElementById("name-field").value ||
      !document.getElementById("creator-field").value
    ) 
    {
      alert("Invalid name or creator");
      return false;
    }
    return true;
  }
</script>
{% endblock %}