<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>Wall</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <br />
          <h3>Save Boulder</h3>
          <br />
          <form>
            Boulder name:<br />
            <input type="text" name="name" value="Name" /><br /><br />
            Creator:<br />
            <input type="text" name="creator" value="Creator" /><br /><br />
            Suggested difficulty:<br />
            <input type="radio" name="difficulty" value="free" checked />
            Green<br />
            <input type="radio" name="difficulty" value="follow" /> Blue<br />
            <input type="radio" name="difficulty" value="no-feet" />
            Yellow<br />
            <input type="radio" name="difficulty" value="no-feet" />
            Red<br /><br />
            Feet:<br />
            <input type="radio" name="feet" value="free" checked /> Free Feet<br />
            <input type="radio" name="feet" value="follow" /> Feet Follow
            Hands<br />
            <input type="radio" name="feet" value="no-feet" />
            Campus<br /><br />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
