<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation bar title-->
    <title>Wall</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"
    />
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Development -->
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <br />
          <div>
            {{ wall_name }}
          </div>
          <img
            id="wall-image"
            width="400"
            src="{{ user_image }}"
            alt="wall section"
          />
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function resetOrientation(srcBase64, srcOrientation, callback) {
    var img = new Image();

    img.onload = function() {
      var width = img.width,
        height = img.height,
        canvas = document.createElement("canvas"),
        ctx = canvas.getContext("2d");

      // set proper canvas dimensions before transform & export
      if (4 < srcOrientation && srcOrientation < 9) {
        canvas.width = height;
        canvas.height = width;
      } else {
        canvas.width = width;
        canvas.height = height;
      }

      console.log(srcOrientation);

      // transform context before drawing image
      switch (srcOrientation) {
        case 2:
          ctx.transform(-1, 0, 0, 1, width, 0);
          break;
        case 3:
          ctx.transform(-1, 0, 0, -1, width, height);
          break;
        case 4:
          ctx.transform(1, 0, 0, -1, 0, height);
          break;
        case 5:
          ctx.transform(0, 1, 1, 0, 0, 0);
          break;
        case 6:
          ctx.transform(0, 1, -1, 0, height, 0);
          break;
        case 7:
          ctx.transform(0, -1, -1, 0, height, width);
          break;
        case 8:
          ctx.transform(0, -1, 1, 0, 0, width);
          break;
        default:
          break;
      }

      // draw image
      ctx.drawImage(img, 0, 0);

      // export base64
      callback(canvas.toDataURL());
    };

    img.src = srcBase64;
  }

  var originalImage = document.getElementById("wall-image");
  // resetImage = document.getElementById("image-reset");

  // TODO: As for now, image EXIF orientation is hardcoded.
  // It works for the current images, but might have to be
  // revisited in the future
  resetOrientation(originalImage.src, 6, function(resetBase64Image) {
    originalImage.src = resetBase64Image;
  });
</script>
