{% extends "base_template.html" %}

{% block title %}{{ sign_up }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 1rem;">
    <div class="row text-center">
        <div class="col">
          <div>
            <a class="btn btn-outline-primary" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>
    <h4 style="margin-bottom:1rem;">{{ sign_up }}</h4>
    {% if error %}
    <p style="color: red;"><strong>{{ error }}:</strong> {{ error }}
        {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-6">
                <div style="width: 50%;">
                    {{ form.name.label }}
                </div>
                <div style="width: 50%;">
                    {{ form.name }}
                </div>
            </div>
        </div>
        <div>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <div style="width: 50%;">
                    {{ form.email.label }}
                </div>
                <div style="width: 50%;">
                    {{ form.email }}
                </div>
            </div>
        </div>
        <div>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <div style="width: 50%;">
                    {{ form.password.label }}
                </div>
                <div style="width: 50%;">
                    {{ form.password }}
                </div>
            </div>
        </div>
        <div>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}